<script src="../../js/localhost/jquery-2.1.4.min.js"></script>

<script>
	var url = new URL(window.location);
	var params = new URLSearchParams(url.search.slice(1)).toString();
	
	// get sites data from pgearth
	$.get("https://paragliding.earth/assets/ajax/flyable/sitesInfos.php?"+params, function (json) {
		$.each(json['sites'], function (index, site) {
			
			// check if forecast file exists and is not too old
			$.ajax("https://paragliding.earth/assets/ajax/flyable/forecasts/"+site['id']+".json")
				.fail( function() {
					console.log("forecast for "+site['id']+" not found");
					buildForecast(site);
				 })
				.done( function(data, textStatus, request){
					// do we need a new forecast ? (cause the one here is more than 12h old)
					if ( (new Date()-new Date(request.getResponseHeader("Last-Modified"))) > 12*3600) 
						buildForecast(site);
				});
		});
		
	});
	
	function buildForecast(site) {
		$.get("https://node.windy.com/forecast/ecmwf/"+site['lat']+"/"+site['lng']+"?source=pgearth .php?", function (forecasts) {
			
			
		}
			
	
	
	
	}
	
	
	
</script>
