body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%}
pre.ui-liste {
	background:rgba(0,0,0,0.5);
	position:absolute;
	bottom:10px;
	left:10px;
	padding:5px 10px;
	color:#fff;
	font-size:11px;
	line-height:1em;
	border-radius:3px;
	max-height:440px;
	overflow:auto;
	width:342px;
	z-index:600;
}
