#container {
    position: fixed;
    top: 0;
}

.siteMapGpsAlt {
    font-size: small;
    font-style: italic;
}

.sitePicImg {
	object-fit: cover;
	margin: 5px -1px;
	box-shadow: 0px 0px 17px -4px lightgray;
}

.sitePicImg:hover {
	box-shadow: 0px 0px 17px 3px gray;
}

.navbar-inverse, .navbar-fixed-bottom{
    background-color:  rgba(50, 25, 25, 0.18);
    border: none;
}

.navbar-fixed-bottom{
/*	display: none;
 * */
}

ul.navbar-bottom > li > a {
  color: #f26600;
  text-shadow: 0px 0px 7px white, 0px 0px 4px white;
}

#toolsDrop, #memberDrop, #about-btn, #login-btn, #admin-btn, #list-btn, #nav-btn, #addDrop, #contact-btn, .navbar-brand, .navbar-fixed-bottom {
    color: #FFFFFF;
    text-shadow: 0px 0px 7px black, 0px 0px 4px black;
    font-size : 13px;
    font-weight: bold;
}


.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color : black;
	font-size : 13px;
}

.dropdown-menu a i {
	color: black;
}

.leonardo-details{
	display:none;
}

.navbar-brand {
    font-size : 17px;
}

#sidebar {
    z-index: 1040;
    position: absolute;
    opacity: 0.98;
    left: 0px;
    height: auto;
    margin: 68px 12px 12px;
    bottom: 0;
    top: 0;
    border-radius: 22px;
}

#feature-list {
    background-color:  white;
}

#sidebar-hide-btn {
    background-color : rgba(50, 25, 25, 0.18);
    margin-top: 15px;
    left: 56px;
    position: relative;
    padding: 12px 15px;
}

.leaflet-top {
    top: 48px;
}

.leaflet-popup-content {
    min-width: 175px;
}

@media(min-width:768px) {
	.modal-dialog {
		width: 742px;
	}
}

.newItemFieldset {
	min-width:317px;
}
.table > tbody > tr.feature-row > td {
	padding: 2px 8px;
}

.panel-heading {
    width: unset;
}

.windrose26 {
	background: #e4e4e4;
	border-radius: 14px;
}

#countingStuffs{
  font-weight: bold;
  text-align: left;
}

.redCount {
 color: #bd0000;
}

.greenCount {
 color: green;
}

ul{
	list-style: square;
}

.siteHistory > li {
	list-style-image:url(../img/icons/famfamfam/user.png);
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#loading{
	opacity: 0.5;
}

.editable-container.editable-inline, .editable-input {
    display: block;
}

.editableform .control-group, .form-inline .form-control  {
   width: 100%
}

.editable-buttons {
   display: block;
   margin: 7px;
}

.editable-click {
   font-style: italic;
   background : #f6e7e7;
   white-space: normal;
}

.pgeCluster {
  /*  background-image: url("../img/cluster.png");*/
  background: white;
  border-radius:16px;
    font-size: larger;
    font-weight: bold;
    color: #002fd2;
   /* padding: 6px; 
    font-family: Trebuchet MS,Arial; */
    text-align: center;
    text-shadow: 0px 0px 4px lightgray;
    border: 3px solid #002fd2;
   /* height:32px;*/
   padding: 2px 0;
}

.leaflet-heatmap-layer {
	opacity: .42;
}

.full {
	width:100%;
	transition: width 1.5s;
}

#siteBodyContent {
/*	padding-top: 15px; */
}

.sitePictureThumbnail {
	margin : 5px;
	transition: width 1s;
}

.siteThumbnails {
	display: inline;
	list-style: none;
	padding : 0;
}

.siteThumbnails li {
	display: inline;
	list-style: none;
}

.siteThumbnails li { 
   position: relative; 
   /*width: 100%; /* for IE 6 */
}

.thumbnailOverlay { 
   position: absolute; 
   top: 26px; 
   left: 9px; 
   width: 100%; 
}

.ffvl-site-alert {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: small;
}

.alert-warning {
	border-radius: 5px;
	box-shadow: 0px 0px 13px 0px lightgray;
	font-size: small;
	margin : 5px;
}

.alert-info, .alert-danger, .alert-warning, .alert-success {
	padding: 7px;
}

#wrap {
    position: relative;
    display: inline-block;
}

.site-closed:before {
    position: absolute;
    content: '';
    background: url('../img/site-closed-modal-bg.png') no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10000000;
}

.imgSpan {
	position: relative; 
	width: 100%; /* for IE 6 */
	margin: 8px;
}

.sitePicLegend {
	font-size: smaller;
	position: absolute;
	top: 22px;
	left: 3px;
	width: 100px;}
	
.sitePicLegend span{
	color: white;
	letter-spacing: 0px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.55);
	padding: 3px;
	//display: none;
}

.sitePicLegend span:hover{
	background: red;
}

.text-danger {
	font-weight: bold;
}

.tab-content{
	margin-top: 17px;
}

#siteBody.nav > li > a {
    padding: 10px 5px;
}

#filtersLeafletControl, #windyLeafletControl {
	padding: 7px;
}

#filtersOpenModal {
	cursor: pointer;
}
