#windy{
	height: 100%;
	width: 100%;
    background-color: #ffffff00 !important;
}

.windyContainer {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	border: 3px dashed orange;
	width: 60%;
	height: 70%;
	top: 0;
	left: 0;
	right:0;
	bottom:0;
	margin: auto;
	opacity: 0.6;
	pointer-events: none;
}

#windy #map-container {
    background-color: #ffffff00 !important;
}

#windy #map-container .leaflet-tile-pane .overlay-layer,
#windy .leaflet-objects-pane,
#windy #bottom , #windy #embed-zoom , #windy #mobile-ovr-select  
 {
   /* display: none;*/
}

#windy #logo-wrapper {
	top: initial;
}

#windy #logo-wrapper #logo {
	/*left: 50px;
	left:20px;
	*/
}

.particles-layer {
//	visibility: hidden;
//	filter: invert(100%);
//	z-index: 3;
//	pointer-events: none;
	/*position: relative;
    top: 19.5%;
    left: 33.5%;
    transform: translate3d(0,0,0) !important;*/
}

.windy-overlay-layer {
//	visibility : hidden;
//	z-index: 2;
//	opacity: 0.4;
//	pointer-events: none;
}

.windyLink {
	line-height: normal !important;
	display : inline !important;
	border: 0 !important;
	vertical-align: top !important;
}

.windyClose {
	position: absolute;
	border-radius: 22px;
	background: white;
	top: -24px;
	left: -24px;
	z-index: 3;
	pointer-events: auto;
	cursor:pointer;
}
